@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <h1> Menu principal </h1>
    <br />
    <center>
        @Html.ActionLink("Registro", "Registro", null, new { @class = "btn btn-primary btn-lg" })
        <br />
        <br />
        @Html.ActionLink("Busqueda", "MenuBusquedas", null, new { @class = "btn btn-primary btn-lg" })
        <br />
        <br />
        @Html.ActionLink("Estadisticas", "Estadisticas", null, new { @class = "btn btn-primary btn-lg" })
        <br />
        <br />
        @Html.ActionLink("Hospitales", "Hospitales", null, new { @class = "btn btn-primary btn-lg" })
    </center>
    <br />
</body>
</html>
