@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Inicio</title>
</head>
<body>
    <h1> Inicio </h1>
    <br />
    <center>
        @Html.ActionLink("Registro", "Registro", null, new { @class = "btn btn-outline-dark btn-lg" })
        <br />
        <br />
        @Html.ActionLink("Simulaciones", "Simulaciones", null, new { @class = "btn btn-outline-dark btn-lg" })
        <br />
        <br />
        @Html.ActionLink("Estadisticas", "Estadisticas", null, new { @class = "btn btn-outline-dark btn-lg" })
        </div>
    </center>
    <br />
</body>
</html>
