@model Proyecto1ED1.Models.Model.Hospital
@using Proyecto1ED1.Models.Model

@{
   

    ViewBag.Title = "MenuHospital";
    Layout = "~/Views/Shared/_Layout.cshtml";

//List<Cama> id = Model.CamasDisponibles();

}

<br />
<h2>Menu de hospital</h2>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <br />
    <br />
    <center>
        @Html.ActionLink("Camas Disponibles", "CamasDisponibles", null, new { @class = "btn btn-primary btn-lg" })
        <br />
        <br />
        @Html.ActionLink("Realizar Una Prueba", "RealizarUnaPrueba", null, new { @class = "btn btn-primary btn-lg" })
        <br />
        <br />
        @Html.ActionLink("Camas Ocupadas", "CamasOcupadas", null, new { @class = "btn btn-primary btn-lg" })
        <br />
        <br />
    </center>
    <br />
</body>
</html>
